<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDlYsBEtcepC3geHi6v3rHS0yy2CRYhsSg</string>
	<key>GCM_SENDER_ID</key>
	<string>991206164123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.drugEducationApp</string>
	<key>PROJECT_ID</key>
	<string>drug-education-app</string>
	<key>STORAGE_BUCKET</key>
	<string>drug-education-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991206164123:ios:a87a1dd0a613ac782a683e</string>
</dict>
</plist>